* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  color: black;
}

.active-link {
  color: red;
}

.normal-link {
  color: #1a1a1a;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.7)),
    url("./assets/bg.jpg") no-repeat center center;
  background-size: cover; /* dopasuje obraz do ekranu */
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* upewnia się, że tło wypełnia ekran */
}
